body {
  margin: 0;
}
#root {
  width: 100%;
}

#HOME_CIUDAD {
  width: 100%;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: auto;
}
#MONTH_TITLE {
  height: auto;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#CITY_TITLE,
#COUNTRY_TITLE {
  color: black;
  background-color: #ebebdd;
  font-family: "Courier New", Courier, monospace;
  width: 40rem;
  margin: 20px 0px 40px 0px;
  border-radius: 55px;
  height: auto;
}

.CONTENEDOR_TITLES {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.BOXTWO {
  padding-top: 20px;
  height: auto;
  width: 100%;
  margin: 2%;
  background-color: #d3d3bf;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  width: 100%;
  color: black;
  text-align: center;
}

h2 {
  width: 100%;
  text-align: center;
}
h3 {
  width: 100%;
  color: black;
  text-align: center;
}
p a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(81, 0, 0);
  font-family: "Courier New", Courier, monospace;
}
